# EditorConfig is awesome: http://EditorConfig.org

# This file needs to be copied to the user home directory
# for editorconfig to load it

# top-most EditorConfig file
root = true

# all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{rb,yaml,yml,lua,js,ts,rb,tf,html,json,graphql,graphqls}]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2
