[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-ragtag"]
	path = pack/plugins/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/taglist-plus"]
	path = bundle/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-distinguished"]
	path = pack/plugins/start/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/tagbar"]
	path = pack/plugins/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/delimitMate"]
	path = pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/coc"]
	path = pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/plugins/start/nvm-lspconfig"]
	path = pack/plugins/start/nvm-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/lualine"]
	path = pack/plugins/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/plugins/start/copilot"]
	path = pack/plugins/start/copilot
	url = https://github.com/github/copilot.vim.git
[submodule "pack/plugins/start/vim-illuminate"]
	path = pack/plugins/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "pack/plugins/start/friendly_snippets"]
	path = pack/plugins/start/friendly_snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/indent-blankline"]
	path = pack/plugins/start/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "pack/plugins/start/mason"]
	path = pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/plugins/start/mason-lspconfig"]
	path = pack/plugins/start/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "pack/plugins/start/nvim-ts-autotag"]
	path = pack/plugins/start/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "pack/plugins/start/nvim-base16"]
	path = pack/plugins/start/nvim-base16
	url = git@github.com:RRethy/nvim-base16.git
[submodule "pack/plugins/start/nvim-treesitter-textobjects"]
	path = pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "pack/plugins/start/plenary"]
	path = pack/plugins/start/plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/conform.vim"]
	path = pack/plugins/start/conform.vim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/plugins/start/gitlinker"]
	path = pack/plugins/start/gitlinker
	url = https://github.com/linrongbin16/gitlinker.nvim
[submodule "pack/plugins/start/telescope"]
	path = pack/plugins/start/telescope
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/plugins/start/gitsigns"]
	path = pack/plugins/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/plugins/start/avante"]
	path = pack/plugins/start/avante
	url = https://github.com/yetone/avante.nvim
[submodule "pack/plugins/start/dressing"]
	path = pack/plugins/start/dressing
	url = https://github.com/stevearc/dressing.nvim
[submodule "pack/plugins/start/nui"]
	path = pack/plugins/start/nui
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "pack/plugins/start/blink-cmp"]
	path = pack/plugins/start/blink-cmp
	url = https://github.com/Saghen/blink.cmp
[submodule "pack/plugins/start/blink.cmp@v0.10.0"]
	path = pack/plugins/start/blink.cmp@v0.10.0
	url = https://github.com/Saghen/blink.cmp
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "pack/plugins/start/nui.nvim"]
	path = pack/plugins/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "pack/plugins/start/img-clip"]
	path = pack/plugins/start/img-clip
	url = git@github.com:HakonHarnes/img-clip.nvim.git
[submodule "pack/plugins/start/nvim-treesitter-context"]
	path = pack/plugins/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
